.usuarioContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formCreacion {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 360px;
}

.formCreacion h2 {
    align-self: center;
  color: #e6b800;
  text-align: center;
  margin-bottom: 10px;
}

.formCreacion input {
  background-color: #0e0e0e;
  border: 2px solid #2b2b2b;
  border-radius: 10px;
  padding: 14px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.formCreacion input::placeholder {
  color: #888;
}

.formCreacion input:focus {
  outline: none;
  border-color: #e6b800;
  box-shadow: 0 0 10px rgba(230, 184, 0, 0.4);
}

.formCreacion button {
    align-self: center;
  margin-top: 10px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #e6b800;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.formCreacion button:hover {
  background-color: #ffcc00;
  transform: translateY(-2px);
}
