.container1{
    background-image: url("../../utils/DESCARGAARNOLD.png");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.centerText h1,h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0%;
    margin: 0;
}
.centerText p {
    max-width: 700px;
    font-weight: bold;
}
p{
    color:white ;
}
strong{
    color: #e6b800;
}