.containerInstalacion {
  height: 93.5vh;            
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;     
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;  
}

/* GALERÍA */
.instalacionesGaleria {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;        
}

.galeria {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* LISTA */
.galeria ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;             
}

/* ITEMS */
.galeria li {
  flex: 0 0 100%;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;  
}

/* BOTONES */
.leftButton,
.rightButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  width: 80px;             
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftButton {
  left: 10px;              
}

.rightButton {
  right: 10px;
}

.leftButton:hover,
.rightButton:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* TÍTULO */
.tituloInstalaciones {
  color: #e6b800;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 20px;

  text-shadow:
    0 0 5px rgba(230, 184, 0, 0.6),
    0 0 10px rgba(230, 184, 0, 0.55),
    0 0 20px rgba(230, 184, 0, 0.45),
    0 0 40px rgba(230, 184, 0, 0.35),
    0 0 60px rgba(230, 184, 0, 0.25);
}

@media (max-width: 768px) {
    .actividadesFila {
        justify-content: flex-start; 
        overflow-x: auto; /* Habilita el scroll horizontal */
        padding: 20px 40px; 
        scroll-snap-type: x mandatory; 
        -webkit-overflow-scrolling: touch; 
        scrollbar-width: none; 

    .actividadesFila::-webkit-scrollbar {
        display: none; 
    }}

    .actividadCard {
        scroll-snap-align: center; 
        width: 80vw; 
        height: 60vh;
    }

    .actividadesContainer {
        height: auto;
    }



.imagenContainer {
   display: flex;
   width: 80%;
   height: 60%; 
   align-items: center;
   justify-content: center;
}

.actividadImg {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.actividadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  background: none;
  color: #e6b800;
  border: 4px solid #e6b800;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.actividadCard h2 {
    font-weight: bold;
    color: #e6b800;
    margin: 15px 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.actividadButton:hover {
  background-color: #e6b800;
  color: #191a1f;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(230, 184, 0, 0.4);
}}